<form class="navbar-form navbar-right" role="search">
  <div class="form-group the-basics">
    {{input value=query class="form-control typeahead" placeholder="Search here"}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>