doctype html
html
	head
		title= settings.title
		link(rel='stylesheet', href='css/main.css')
	body

		block content

		//- library scripts
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='bower_components/typeahead.js/dist/typeahead.jquery.min.js')
		script(src='bower_components/handlebars/handlebars.min.js')
		script(src='bower_components/ember/ember.js')
		script(src='bower_components/ember-data/ember-data.js')

		//- ember application
		script(src='js/templates.js')
		script(src='js/main.js')
		script(src='js/router.js')
		script(src='js/components/SearchBox.js')
		script(src='js/models/PostModel.js')
		script(src='js/controllers/PostsController.js')