<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <p>Brand</p>
        </a>
      </div>
      {{search-box}}
    </div>
  </nav>
</header>
<div id="container">
  {{outlet}}
</div>