aoeu
<div class="row">
  <div class="columns small-12 large-6">
    <h3>Recent Posts yo..</h3>
    <hr/>
    <ul>
      {{#each model}}
        <li>{{title}}</li>
      {{/each}}
    </ul>
    <div class="columns small-12 large-6">
      {{outlet}}
    </div>
  </div>
</div>