.tt-input, // UPDATE: newer versions use tt-input instead of tt-query
.tt-hint {
  width: 460px;
  // height: 30px;
  // padding: 8px 12px;
  // font-size: 24px;
  // line-height: 30px;
  // border: 2px solid #ccc;
  // border-radius: 8px;
  outline: none;
}

.tt-input { // UPDATE: newer versions use tt-input instead of tt-query
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 222px;
  margin-top: 2px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  // font-size: 18px;
  // line-height: 24px;
}

.tt-suggestion.tt-cursor { // UPDATE: newer versions use .tt-suggestion.tt-cursor
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}